*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Keystore dosyaları (güvenlik)
*.keystore
*.jks
!app/debug.keystore
!app/release-key.jks
# Builds
app/build/
